node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
landingPageDist
featureLandingPageDist
dist
/server/config/local.env.js
/server/config/.env
server/logs/
backend/config/.env
clientNew

/server/ecosystem.config.js
/server/logs
uploads
npm-debug.log
*.map

.ebstuff/.elasticbeanstalk/config.yml
launch.json
yarn-error.log
package-lock.json
/yarn.lock
newrelic_agent.log
.vscode/launch.json
