# Dependency directories
node_modules/
.cache/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build artifacts
/build

# Ignore dist folder in the client directory
client/dist/

# Ignore dist folder in the root directory
/dist/
