<form [formGroup]="signUpForm">
  <div>
    <label for="name">Name</label>
    <input formControlName="name" type="text" required />
  </div>
  <div>
    <label for="email">Email</label>
    <input formControlName="email" type="email" required />
  </div>
  <div>
    <label for="phoneNumber">Phone Number</label>
    <input formControlName="phone" type="number" />
    <!-- Example pattern -->
  </div>
  <div>
    <label for="password">Password</label>
    <input formControlName="password" type="password" />
  </div>
</form>
<button type="submit" (click)="registerUser()">Sign Up</button>
<button routerLink="/pages/login">login</button>

<button routerLink="/pages/publish">just do the work</button>
